<div class="homepage">
	<div class="login-title">
		<h1 class="big">Chuglog</h1>
		<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
			 viewBox="0 0 370.07 612" style="enable-background:new 0 0 370.07 612;" xml:space="preserve">
		<style type="text/css">
			.st0{fill:#3B2314;}
			.st1{fill:#FFFFFF;}
		</style>
		<g>
			<path class="st0" d="M32.61,199.87C16.15,233.37,0,273.42,0,301.57c0,95.61,72.54,174.3,165.59,184.03c0.9,18.58,1.86,62.03-8,75
				c-11.79,15.51-90.04,35.88-90.04,35.88V612h232.01v-15.53c0,0-78.26-20.37-90.01-35.88c-9.81-12.9-8.92-55.99-8.03-74.72
				c94.49-8.34,168.55-87.68,168.55-184.3c0-28.13-16.13-68.19-32.56-101.7L32.61,199.87z"/>
			<ellipse class="st1" cx="126.31" cy="137.04" rx="58.73" ry="37.82"/>
			<ellipse class="st1" cx="164.88" cy="119.38" rx="58.73" ry="42.75"/>
			<ellipse class="st1" cx="244.45" cy="135.9" rx="58.73" ry="35.32"/>
			<g>
				<polygon class="st1" points="337.52,199.57 303.17,137.4 67.13,137.04 32.61,199.57 		"/>
			</g>
		</g>
		<circle class="st1" cx="265.83" cy="62.15" r="23.92"/>
		<circle class="st1" cx="212.56" cy="51.65" r="13.42"/>
		<circle class="st1" cx="230.59" cy="11.32" r="11.32"/>
		</svg>
	</div>


	    <form class="login-form">
	      <input type="email" class="login-input" id="InputUsername" placeholder="Username" [(ngModel)]="user.username" name="username">
	      <input type="password" class="login-input" id="InputPassword" placeholder="Password" [(ngModel)]="user.password" name="password">
	      <button type="submit" class="btn--login" (click)="login()">login</button>
	    </form>

</div>
